@mixin displayFlex($dir:row,$jus:center,$ali:center){
    display:flex;
    flex-direction: $dir;
    justify-content: $jus;
    align-items:$ali;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    // font-family: "montserrat", sans-serif;
}