@import "../../baseCss";

body{
    background:#242424;
    .container{
        @include displayFlex(row, space-around);
        width:100vw;
        height:100vh;
        &:hover .square::before{
            top:0;
        }
        &:hover .square::after{
            bottom:0;
            transition-delay:0.5s;
        }
        .square{
            @include displayFlex();
            position:relative;
            width:15%;
            height:80%;
            overflow: hidden;
            z-index:1;
            img{
                height:100%;
            }
            &::before{
                position:absolute;
                content:'';
                top:-100%;
                left:0;
                height:100%;
                width:50%;
                background:#242424;
                transition:0.5s;
            }
            &::after{
                position:absolute;
                content:'';
                bottom:-100%;
                right:0;
                height:100%;
                width:50%;
                background:#242424;
                transition:0.5s;
            }
            &:hover::before{
                top:-100%;
            }
            &:hover::after{
                bottom:-100%;
            }
        }
    }
}